%nav
  %ul.nav.nav-stacked
    %li
      = link_to 'Overview', '/getting-started/'
      %ul
        %li= link_to 'Features', '/getting-started/#features'
        %li= link_to 'Coming from Hubot', '/getting-started/#coming-from-hubot'
    %li
      = link_to 'Installation', '/getting-started/installation/'
      %ul
        %li= link_to 'Development Environment', '/getting-started/installation/#development-environment'
      %ul
        %li= link_to 'Manual installation', '/getting-started/installation/#manual-installation'
    %li= link_to 'Plugins', '/getting-started/plugins/'
    %li
      = link_to 'Configuration', '/getting-started/configuration/'
      %ul
        %li= link_to 'Localization', '/getting-started/configuration/#localization'
    %li
      = link_to 'Usage', '/getting-started/usage/'
      %ul
        %li= link_to 'Shell adapter', '/getting-started/usage/#shell-adapter'
        %li= link_to 'Messages and commands', '/getting-started/usage/#messages-and-commands'
        %li= link_to 'In-chat help', '/getting-started/usage/#in-chat-help'
        %li= link_to 'Basic info', '/getting-started/usage/#basic-info'
        %li= link_to 'Managing rooms', '/getting-started/usage/#managing-rooms'
        %li= link_to 'Authorization groups', '/getting-started/usage/#authorization-groups'
        %li= link_to 'User info', '/getting-started/usage/#user-info'
    %li
      = link_to 'Deployment', '/getting-started/deployment/'
      %ul
        %li= link_to 'Docker', '/getting-started/deployment/#docker'
        %li= link_to 'Heroku', '/getting-started/deployment/#heroku'
        %li= link_to 'Daemonization', '/getting-started/deployment/#daemonization'
    %li
      = link_to 'Versioning Policy', '/getting-started/versioning-policy/'
      %ul
        %li= link_to 'Deprecation Policy', '/getting-started/versioning-policy/#deprecation-policy'
