%nav
  %ul.nav.nav-stacked
    %li
      = docs_link 'Lita 4', '/releases/4/'
      %ul
        %li= docs_link 'Feature overview', '/releases/4/#feature-overview'
        %li= docs_link 'Upgrading for users', '/releases/4/#upgrading-for-users'
        %li= docs_link 'Upgrading for developers', '/releases/4/#upgrading-for-developers'
    %li= docs_link 'Lita 3', '/releases/3/'
