!!! 5
%html
  %head
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_tag "images/favicon.ico"
    - if current_page.data.title
      %title= current_page.data.title ? "#{current_page.data.title} - Lita.io" : "Documentation - Lita.io"
    - else
      %title Documentation - Lita.io
    - if current_page.data.description
      %meta{ name: "description", content: current_page.data.description }
    - else
      %meta{ name: "description", content: "Documentation for Lita, a chat bot written in Ruby." }
    = stylesheet_link_tag "application"
    = partial "google_analytics"
  %body
    %nav.navbar.navbar-default.navbar-static-top.navbar-inverse{ role: "navigation" }
      .container
        = link_to 'Lita Documentation', '/', class: 'navbar-brand hidden-xs'
        .hidden-xs= link_to 'Lita.io', 'https://www.lita.io/', class: 'btn btn-default navbar-btn navbar-right'
        .navbar-text.navbar-right.hidden-xs
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a{ href: '/getting-started/' }
              Getting Started
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Overview', '/getting-started/'
              %li= link_to 'Installation', '/getting-started/installation/'
              %li= link_to 'Plugins', '/getting-started/plugins/'
              %li= link_to 'Configuration', '/getting-started/configuration/'
              %li= link_to 'Usage', '/getting-started/usage/'
              %li= link_to 'Deployment', '/getting-started/deployment/'
          %li.dropdown
            %a{ href: '/plugin-authoring/' }
              Plugin Authoring
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Overview', '/plugin-authoring/'
              %li= link_to 'Adapters', '/plugin-authoring/adapters/'
              %li= link_to 'Handlers', '/plugin-authoring/handlers/'
              %li= link_to 'Events', '/plugin-authoring/events/'
              %li= link_to 'Localization', '/plugin-authoring/localization/'
              %li= link_to 'Extensions', '/plugin-authoring/extensions/'
              %li= link_to 'Testing', '/plugin-authoring/testing/'
              %li= link_to 'Publishing', '/plugin-authoring/publishing/'
    .content
      = yield
    %footer
      .container
        %ul.nav.navbar-nav
          %li= link_to 'GitHub', 'https://github.com/jimmycuadra/lita'
          %li= link_to 'Twitter', 'https://twitter.com/litachatbot'
          %li= link_to 'Mailing List', 'https://groups.google.com/group/litaio'
          %li= link_to 'IRC', 'http://webchat.freenode.net/?channels=lita.io'
        %ul.nav.navbar.nav.navbar-right
          %li
            .navbar-text= "© #{Time.new.year} Lita.io"
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', 'application'
