%nav
  %ul.nav.nav-stacked
    %li
      = link_to 'Overview', '/plugin-authoring/'
      %ul
        %li= link_to 'Plugin types', '/plugin-authoring/#plugin-types'
        %li= link_to 'Plugin loading', '/plugin-authoring/#plugin-loading'
    %li
      = link_to 'Adapters', '/plugin-authoring/adapters/'
      %ul
        %li= link_to 'Generating an adapter', '/plugin-authoring/adapters/#generating'
        %li= link_to 'Configuration', '/plugin-authoring/adapters/#configuration'
        %li= link_to 'Required methods', '/plugin-authoring/adapters/#required-methods'
        %li= link_to 'Helper methods', '/plugin-authoring/adapters/#helper-methods'
        %li= link_to 'Block syntax', '/plugin-authoring/adapters/#block-syntax'
    %li
      = link_to 'Handlers', '/plugin-authoring/handlers/'
      %ul
        %li= link_to 'Chat routes', '/plugin-authoring/handlers/#chat-routes'
        %li= link_to 'HTTP routes', '/plugin-authoring/handlers/#http-routes'
        %li= link_to 'Event routes', '/plugin-authoring/handlers/#event-routes'
        %li= link_to 'Mixins', '/plugin-authoring/handlers/#mixins'
        %li= link_to 'Helper methods', '/plugin-authoring/handlers/#helper-methods'
        %li= link_to 'Timers', '/plugin-authoring/handlers/#timers'
        %li= link_to 'Configuration', '/plugin-authoring/handlers/#configuration'
        %li= link_to 'Templates', '/plugin-authoring/handlers/#templates'
        %li= link_to 'Examples', '/plugin-authoring/handlers/#examples'
    %li
      = link_to 'Configuration', '/plugin-authoring/configuration/'
    %li
      = link_to 'Events', '/plugin-authoring/events/'
      %ul
        %li= link_to 'Built-in events', '/plugin-authoring/events/#built-in-events'
    %li= link_to 'Localization', '/plugin-authoring/localization/'
    %li
      = link_to 'Extensions', '/plugin-authoring/extensions/'
      %ul
        %li= link_to 'Hooks', '/plugin-authoring/extensions/#hooks'
        %li= link_to 'Examples', '/plugin-authoring/extensions/#examples'
        %li= link_to 'Using Extensions', '/plugin-authoring/extensions/#using-extensions'
    %li
      = link_to 'Testing', '/plugin-authoring/testing/'
      %ul
        %li= link_to 'Setup', '/plugin-authoring/testing/#setup'
        %li= link_to 'Testing adapters', '/plugin-authoring/testing/#testing-adapters'
        %li= link_to 'Testing handlers', '/plugin-authoring/testing/#testing-handlers'
        %li= link_to 'Testing routes', '/plugin-authoring/testing/#testing-routes'
        %li= link_to 'Testing behavior', '/plugin-authoring/testing/#testing-behavior'
    %li= link_to 'Publishing', '/plugin-authoring/publishing/'

