%nav
  %ul.nav.nav-stacked
    %li
      = docs_link 'Overview', '/getting-started/'
      %ul
        %li= docs_link 'Features', '/getting-started/#features'
        %li= docs_link 'Coming from Hubot', '/getting-started/#coming-from-hubot'
    %li
      = docs_link 'Installation', '/getting-started/installation/'
      %ul
        %li= docs_link 'Development Environment', '/getting-started/installation/#development-environment'
      %ul
        %li= docs_link 'Manual installation', '/getting-started/installation/#manual-installation'
    %li= docs_link 'Plugins', '/getting-started/plugins/'
    %li
      = docs_link 'Configuration', '/getting-started/configuration/'
      %ul
        %li= docs_link 'Localization', '/getting-started/configuration/#localization'
    %li
      = docs_link 'Usage', '/getting-started/usage/'
      %ul
        %li= docs_link 'Shell adapter', '/getting-started/usage/#shell-adapter'
        %li= docs_link 'Messages and commands', '/getting-started/usage/#messages-and-commands'
        %li= docs_link 'In-chat help', '/getting-started/usage/#in-chat-help'
        %li= docs_link 'Basic info', '/getting-started/usage/#basic-info'
        %li= docs_link 'Managing rooms', '/getting-started/usage/#managing-rooms'
        %li= docs_link 'Authorization groups', '/getting-started/usage/#authorization-groups'
        %li= docs_link 'User info', '/getting-started/usage/#user-info'
    %li
      = docs_link 'Deployment', '/getting-started/deployment/'
      %ul
        %li= docs_link 'Docker', '/getting-started/deployment/#docker'
        %li= docs_link 'Heroku', '/getting-started/deployment/#heroku'
        %li= docs_link 'Daemonization', '/getting-started/deployment/#daemonization'
    %li
      = docs_link 'Versioning Policy', '/getting-started/versioning-policy/'
      %ul
        %li= docs_link 'Deprecation Policy', '/getting-started/versioning-policy/#deprecation-policy'
