%nav
  %ul.nav.nav-stacked
    %li
      = docs_link 'Overview', '/plugin-authoring/'
      %ul
        %li= docs_link 'Plugin types', '/plugin-authoring/#plugin-types'
        %li= docs_link 'Plugin loading', '/plugin-authoring/#plugin-loading'
    %li
      = docs_link 'Adapters', '/plugin-authoring/adapters/'
      %ul
        %li= docs_link 'Generating an adapter', '/plugin-authoring/adapters/#generating'
        %li= docs_link 'Configuration', '/plugin-authoring/adapters/#configuration'
        %li= docs_link 'Required methods', '/plugin-authoring/adapters/#required-methods'
        %li= docs_link 'Helper methods', '/plugin-authoring/adapters/#helper-methods'
        %li= docs_link 'Chat-service-specific methods', '/plugin-authoring/adapters/#chat-service'
        %li= docs_link 'Block syntax', '/plugin-authoring/adapters/#block-syntax'
    %li
      = docs_link 'Handlers', '/plugin-authoring/handlers/'
      %ul
        %li= docs_link 'Chat routes', '/plugin-authoring/handlers/#chat-routes'
        %li= docs_link 'HTTP routes', '/plugin-authoring/handlers/#http-routes'
        %li= docs_link 'Event routes', '/plugin-authoring/handlers/#event-routes'
        %li= docs_link 'Mixins', '/plugin-authoring/handlers/#mixins'
        %li= docs_link 'Helper methods', '/plugin-authoring/handlers/#helper-methods'
        %li= docs_link 'Timers', '/plugin-authoring/handlers/#timers'
        %li= docs_link 'Configuration', '/plugin-authoring/handlers/#configuration'
        %li= docs_link 'Chat-service-specific methods', '/plugin-authoring/handlers/#chat-service'
        %li= docs_link 'Examples', '/plugin-authoring/handlers/#examples'
    %li
      = docs_link 'Configuration', '/plugin-authoring/configuration/'
    %li
      = docs_link 'Events', '/plugin-authoring/events/'
      %ul
        %li= docs_link 'Built-in events', '/plugin-authoring/events/#built-in-events'
    %li= docs_link 'Localization', '/plugin-authoring/localization/'
    %li
      = docs_link 'Extensions', '/plugin-authoring/extensions/'
      %ul
        %li= docs_link 'Hooks', '/plugin-authoring/extensions/#hooks'
        %li= docs_link 'Examples', '/plugin-authoring/extensions/#examples'
        %li= docs_link 'Using Extensions', '/plugin-authoring/extensions/#using-extensions'
    %li
      = docs_link 'Testing', '/plugin-authoring/testing/'
      %ul
        %li= docs_link 'Setup', '/plugin-authoring/testing/#setup'
        %li= docs_link 'Testing adapters', '/plugin-authoring/testing/#testing-adapters'
        %li= docs_link 'Testing handlers', '/plugin-authoring/testing/#testing-handlers'
        %li= docs_link 'Testing routes', '/plugin-authoring/testing/#testing-routes'
        %li= docs_link 'Testing behavior', '/plugin-authoring/testing/#testing-behavior'
    %li= docs_link 'Publishing', '/plugin-authoring/publishing/'

