- content_for :title, "Support"

.container
  .page-header
    %h1 Support

  %p Need help? Several support channels are available for Lita.

  %h2 Documentation

  %ul
    %li= docs_link 'Main documentation', '/'
    %li= link_to 'Ruby API Documentation', 'http://rdoc.info/gems/lita/frames'

  %h2 Questions, feedback, and discussion

  %ul
    %li= link_to 'Twitter', 'https://twitter.com/litachatbot'
    %li
      = link_to 'Mailing List', 'https://groups.google.com/group/litaio'
      (Google Groups)
    %li
      = link_to 'IRC', 'http://webchat.freenode.net/?channels=lita.io'
      (<em>#lita.io</em> on the Freenode network)

  %h2 Bug reports

  %ul
    %li
      = link_to 'Lita Issue Tracker', 'https://github.com/litaio/lita/issues'
      (GitHub Issues)
